{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% include 'main/includes/messages.html' %}



{%block content%}
<style>
    p {
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0.4px;}
</style>

    <div class="myDiv">
        <h3>Info</h3>
        <p>Select one or more local authorities or regions (not both) or tick the England checkbox to see the estimates for all the country. Select one or more years. 
            Optionally, you can choose one or more disaggregation levels and one variable. You can select multiple values or unselect values with Ctrl + Click</p>
  </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{message}}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% crispy form %}
{% endblock %}